USE [master]
GO
/****** Object:  Database [WorldSkills]    Script Date: 14.05.2022 9:46:21 ******/
CREATE DATABASE [WorldSkills]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorldSkills', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WorldSkills.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorldSkills_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WorldSkills_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorldSkills].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorldSkills]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 14.05.2022 9:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [Name]) VALUES (1, N'М0123ТНС312')
INSERT [dbo].[Equipment] ([Id], [Name]) VALUES (2, N'М234ТНС12')
INSERT [dbo].[Equipment] ([Id], [Name]) VALUES (3, N'М567ТНС87')
GO
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
USE [master]
GO
